<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Customizer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BlockSiteServlet</servlet-name>
    <servlet-class>com.vz.BlockSiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockSiteServlet</servlet-name>
    <url-pattern>/BlockSiteServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadRulesServlet</servlet-name>
    <servlet-class>com.vz.LoadRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadRulesServlet</servlet-name>
    <url-pattern>/LoadRulesServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnableRulesServlet</servlet-name>
    <servlet-class>com.vz.EnableRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableRulesServlet</servlet-name>
    <url-pattern>/EnableRulesServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckParentalStatusServlet</servlet-name>
    <servlet-class>com.vz.CheckParentalStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckParentalStatusServlet</servlet-name>
    <url-pattern>/CheckParentalStatusServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeParentalStatusServlet</servlet-name>
    <servlet-class>com.vz.ChangeParentalStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeParentalStatusServlet</servlet-name>
    <url-pattern>/ChangeParentalStatusServlet/*</url-pattern>
  </servlet-mapping>
  
</web-app>